assets/templates/msc-thesis-council-decision.docx filter=lfs diff=lfs merge=lfs -text
assets/templates/phd-admission-record.docx filter=lfs diff=lfs merge=lfs -text
assets/fonts/tex_gyre_termes_bold_italic.ttf filter=lfs diff=lfs merge=lfs -text
assets/fonts/tex_gyre_termes_bold.ttf filter=lfs diff=lfs merge=lfs -text
assets/fonts/tex_gyre_termes_italic.ttf filter=lfs diff=lfs merge=lfs -text
assets/fonts/tex_gyre_termes_regular.ttf filter=lfs diff=lfs merge=lfs -text
assets/templates/payment_request.docx filter=lfs diff=lfs merge=lfs -text
